body{
  background-color: #666E76;
}
ul li a
{
  color: white !important;
}
ul li a:hover{
  color: #CFD3F7 !important;
}

@media (max-width: 800px){
	.menu{
		background: #263271 !important;
	}
  .carousel-top{
    margin-top: 52px;
  }
}

.menu-scroll{
	background: #263271 !important;
}

.jumbotron{
  border-radius: 0rem;
  
}

.servicos
{
  background-color: #fafafa;
  margin-bottom: 0rem;
}

.servicos .card 
{
  background-color: transparent;
  border: 0px solid rgb(0,0,0,.125);
}

.sobre-empresa
{
  background-color: #0F84E7;
  color: white;
  margin-bottom: 0rem;
}

.contato 
{
  background-color: #FAFAFA;
  margin-bottom: 0rem;
}

.rodape
{
  padding-top: 20px;
  background-color: #0F84E7;
  color: white;
  margin-bottom: 0rem;
}